/* Import Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Architects+Daughter&family=Duru+Sans&display=swap');

/* Asterisk wildcard selector to create a consistent starting point across different browsers and remove white edges on the sides and the top of the page */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Basic styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Duru Sans', sans-serif;
}

/* H1 style */
h1 {
    font-family: 'Architects Daughter', sans-serif;
    text-align: center;
    font-size: 150%;
    padding-top: 25px;
}

/* H2,3,4 style */
h2,
h3,
h4 {
    font-family: 'Antic Slab', sans-serif;
    text-align: center;
    font-size: 120%;
    padding: 25px 10px;
}

/* Paragraph style */
p {
    text-align: justify;
    padding: 10px 20px;
    font-size: 100%;
}

/* Hidden headings for image and video sections to improve accessibility. Source: https: //www.w3schools.com/accessibility/accessibility_heading_levels.php */
.hidden-heading {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* Header */
header {
    background-color: #FF8200;
    padding: 0 0;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 0px;
    height: 75.4px;
}

header a {
    text-decoration: none;
    color: #323232;
}

/* Menu style */
#menu {
    list-style-type: none;
    font-size: 120%;
    letter-spacing: 1px;
}

#menu>li {
    margin-bottom: 0.5em;
    text-align: center;
}

.current {
    color: #232323;
    font-weight: bold;
    border-bottom: 2px solid #232323;
}

/* Hide the checkbox */
#menu-toggle {
    display: none;
}

/* Hide menu initially, menu styling */
#menu {
    display: none;
    position: absolute;
    left: 0;
    z-index: 100;
    background-color: #FF8200;
    width: 100%;
    top: 75.4px;
}

/* Show the menu when the checkbox is checked */
#menu-toggle:checked~nav #menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}

/* Logo link styling */
#logo-link {
    flex-grow: 1;
    order: -1;
}

/* Menu icon styling */
#menu-label {
    font-size: 45px;
    align-self: flex-start;
    padding-top: 3px;
    padding-right: 7px;
}

/* Logo style */
/* Logo text was replaced by logo image */
#logo {
    font-family: 'Architects Daughter', sans-serif;
    text-transform: uppercase;
    color: #000000;
    letter-spacing: 2px;
    padding-top: 5px;
    font-size: 25px;
    width: 70px;
}

/*Main content */
main {
    background-color: #FFF7EF;
    color: #232323;
    /* Make the main element to take up any excess space and push footer to the bottom */
    flex: 1 0 auto;
    /* Push main content down to adjust to the new header height */
    margin-top: 75.4px;
    /*Distribute space, align content and remove gaps between main content and footer  */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Hero section style */
#hero-section {
    height: 700px;
    width: 100%;
    background: url(../images/sheeps-head-vertical-small.webp) no-repeat center bottom/cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Home second image style*/
#kinsale-image-section {
    height: 500px;
    width: 100%;
    background: url(../images/kinsale-boats-small.webp) no-repeat center center/cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Text overlay styles */
.hero-text {
    position: absolute;
    top: 0;
    background-color: rgba(255, 255, 255, 0.6);
}

#home-page-h1 {
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 10px;
    text-align: center;
    text-shadow: 2px 2px 4px #ffffff;
}

#home-page-tagline {
    font-size: 18px;
    letter-spacing: 1px;
    padding-top: 12px;
    padding-bottom: 5px;
    text-shadow: 2px 2px 4px #ffffff;
}

/* Quote section style */
#quote1 {
    margin-top: 30px;
    font-style: italic;
}

#quote1 > p {
    text-align: center;
    padding: 10px;
    font-family: 'Architects Daughter', sans-serif;
    font-weight: bold;
    font-size: 115%;
}

#quote1 .quote-author {
    text-align: right;
    font-weight: bold;
    padding: 0 20px 20px 0;
}

/* Services & Why choose us styles */
#services-list, #why-choose-us-list {
    list-style-type: circle;
    padding: 10px 10px 10px 20px;
    font-size: 100%;
}

/* Projects page*/
.photo-gallery {
    margin: 20px;
}

.photo-item {
    border: 1px solid #323232;
    margin: 0 0 20px;
}

.photo-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    padding: 10px 10px 0;
}

.photo-item > p {
    text-align: center;
}

/* Contact page */
/* Style form box and content */
#get-in-touch {
    height: 410px;
    border: 1px solid #323232;
    margin: 20px;
}

#get-in-touch-form {
    padding: 0 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Add gap under the form name */
#get-in-touch-form > h1 {
    padding-bottom: 10px;
}

/* Stly input fields */
.text-input {
    margin: 5px;
    width: 75%;
    height: 30px;
    border: #000000 2px solid;
    padding: 3px;
}

#add-your-message {
    height: 70px;
}

/* Style get in touch button */
.get-in-touch-button {
    margin-bottom:10px;
    border-radius: 3px;
    font-size: 100%;
    padding: 10px;
    color: #000000;
    background-color: #FF8200;
    font-weight: bold;
}

/* Style image on the contact page */
#get-in-touch-img {
    background: url(../images/barley-cove.webp) no-repeat center right;
    background-size: cover;
    background-position: 100%;
    padding: 20px 10% 0 10%;
    height: 300px;
    /* Remove any margines that could cause gaps */
    margin: 0;
}

/* Thank you page */
#thank-you-page {
    /* Ensure position of items at the top */
    justify-content: flex-start; 
    /* Prevent vertical scrolling */
    overflow: hidden; 
}

/* Style thank you message */
#thank-you-msg {
    /* Add flex display */
    display: flex;
    align-items: center;
    justify-content: center;
    /* Center text vertically */
    margin: auto;
    /* Ensure thank you section takes up all the space above the video secion */
    flex-grow: 1;
    padding-bottom: 50px;
}

/* Style video section, make the video stretch to the full width */
#video {
    position: relative;
    /* 16:9 aspect ratio. Source: www.css-tricks.com/responsive-iframes/*/
    padding-bottom: 56.25%;
    height: 0;
}

#video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0;
}

/*Footer */
footer {
    background-color: #009A44;
    padding: 5px 0;
}

.social-icons {
    display: flex;
    justify-content: space-evenly;
}

.social-icons a {
    font-size: 200%;
    margin: 0 25px;
    color: #ffffff;
}

/* Media query: mobile phones (440px and up) */
@media screen and (min-width: 440px) {
    #hero-section {
        height: 1000px;
    }
}

/* Media query: tablets and larger screens (768px and up) */
@media screen and (min-width: 768px) {
    
    /* Fonts size */
    h1 {
        font-size: 160%;
    }
    
    h2,
    h3,
    h4 {
        font-size: 130%;
    }
    
    p, ul {
        font-size: 100%;
    }

    /* Header */
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav {
        display: flex;
        align-items: center;
        width: auto;
    }

    #menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        top: 25px;
        padding-right: 20px;
        background: transparent;
        gap: 20px;
    }

    /* Add vertical dividers between menu items (source: stack overflow)*/
    #menu li:not(:last-child)::after {
        content: "|";
        margin-left: 20px;
        color: #323232;
    }

    #menu-label {
        display: none;
    }

    #logo {
        width: auto;
        padding-left: 4px;
        font-size: 180%;
    }

    #logo-link {
        display: flex;
        align-items: center;
    }

    /* Hero section */
    #hero-section {
        position: relative;
        height: 370px;
        max-width: 100%;
        background: url(../images/sheeps-head-hotizontal-small.webp) no-repeat center right/cover;
        background-color: #8ab7da;
        /* Align items ot the left */
        justify-content: flex-start;
    }

    .hero-text {
        top: 250px;
        text-align: left;
        left: 10px;
        color: #ffffff;
        background-color: transparent;
    }

    #home-page-h1, #home-page-tagline {
        text-align: left;
        font-size: 170%;
        text-shadow: none;
    }

    #business-info p {
        margin: 0 30px;
    }

    #quote1 .quote-author {
    text-align: right;
    font-weight: bold;
    margin: 0 50px 20px 0;
    }

    /* Home second image */
    #kinsale-image-section {
        background: url(../images/kinsale-pano-small.webp) no-repeat center center/cover;
    }

    /* Business information part 2*/
    .business-info-part-2 {
        display: flex;
        flex-wrap: wrap;

    }

    #services,
    #our-promise,
    #why-choose-us {
        padding: 10px;
        text-align: justify;
        margin: 0 0 0 10px;
    }

    #our-promise > p {
        text-align: justify
    }

    .business-info-part-2 > div {
        margin-right: 30px;
        flex-basis: 350px;
        flex-grow: 1;
    }

    /* Contact page */
    /* Reduce width of form frame */
    #get-in-touch {
    margin: 20px 40px;
    }

    /* Reduce width of form input fields */
    .text-input {
    width: 50%;
    }

    /* Style get in touch button on hover */
    .get-in-touch-button:hover {
    background-color: #009A44;
    color: #FFF7EF;
    }

    /* Style text input on hover */
    .text-input:hover {
        border-color: #009A44;
    }
}

/* Media query: larger devices (laptops & desktops, 992px and up) */
@media screen and (min-width: 992px) {
    
    /* Fonts size */
    h1 {
        font-size: 170%;
    }
    
    h2,
    h3,
    h4 {
        font-size: 140%;
    }
    
    p, ul {
        font-size: 110%;
    }

    #menu a:hover {
        border-bottom: 0.5px solid #323232;
    }

    /* Hero section */
    #hero-section {
        height: 550px;
    }

    .hero-text {
        top: 400px;
    }

    #home-page-h1,
    #home-page-tagline {
        font-size: 250%;
    }

    /* Projects page*/
    .photo-gallery {
    column-count: 2;
    }

    .photo-item img {
    height: 380px;
    }

    /*Contact page*/
    /* Reduce width of form frame */
    #get-in-touch {
    margin: 20px 70px;
    }

    /* Reduce width of form input fields */
    .text-input {
    width: 35%;
    }
    
    #get-in-touch-img {
    height: 520px;
    }
}

/* Media query: larger screens (1100px and up) */
@media screen and (min-width: 1100px) {

    /* Adjust the hero text position to ensure it remains fully visible on screens with a width of 12 inches or more, even when the bookmarks tab is present */
    .hero-text {
        top: 370px;
    }
}

/* Media query: larger screens (1400px and up) */
@media screen and (min-width: 1400px) {
    
    /* Hero section */
    #hero-section {
        height: 700px;
    }

    .hero-text {
        top: 480px;
    }

    /* Projects page*/
    .photo-item img {
    height: 600px;
    }

    /*Contact page*/
    /* Reduce width of form frame */
    #get-in-touch {
    margin: 20px 120px;
    }
    
    #get-in-touch-img {
    height: 650px;
    }
}