/* Import Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Architects+Daughter&family=Duru+Sans&display=swap');

/* Asterisk wildcard selector to create a consistent starting point across different browsers and remove white edges on the sides and the top of the page */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Basic styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Duru Sans', sans-serif;
}
/* Header */
header {
    background-color: #FF8200;
}

/* H1 style */
h1 {
    font-family: 'Antic Slab', sans-serif;
}

/* Logo style */
#logo {
    font-family: 'Architects Daughter', sans-serif;
    text-transform: uppercase;
}

/*Main content */
main {
    background-color: #000000;
    color: #ffffff;
    /* Make the main element to take up any excess space and push footer to the bottom */
    flex: 1 0 auto;
}

/*Footer */
footer {
    background-color: #009A44;
}